# Rob Sandbox
- Tests and trials developed by Rob

# Imports

## Standard library imports

## Local application imports

## Third party imports

In [1]:
import pandas as pd

import numpy as np

import networkx as nx

import scipy.sparse
from scipy.sparse import csr_matrix

import matplotlib.pyplot as plt

---

# Reading data

## Reading data from csv

In [2]:
df = pd.read_csv("Cooffending.csv")

In [3]:
df

,OffenderIdentifier,OffenderGender,CrimeIdentifier,CrimeType1,CrimeType2,CrimeType3,CrimeType4,Municipality,CrimeLocation,NumberYouthOffenders,NumberAdultOffenders,CrimeDate,CrimeYear
0,1,F,1085034,3530.0,NaN,NaN,NaN,58227,2.0,0,1,12/17/2005,2005
1,2,F,1431379,1430.0,NaN,NaN,NaN,94068,5.0,0,1,04/23/2008,2008
2,4,M,167174,1430.0,21702.0,NaN,NaN,49058,2.0,0,1,03/06/2008,2008
3,5,M,1179096,1420.0,NaN,NaN,NaN,65005,71.0,0,1,08/21/2008,2008
4,17,M,1270690,1625.0,NaN,NaN,NaN,23027,NaN,0,3,04/30/2003,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1280454,670532,F,1112491,1330.0,NaN,NaN,NaN,58227,34.0,0,1,03/26/2009,2009
1280455,670533,M,78081,21702.0,NaN,NaN,NaN,46075,10.0,0,4,06/29/2009,2009
1280456,670534,M,187904,21201.0,21702.0,NaN,NaN,31015,1.0,0,4,03/16/2009,2009
1280457,670535,M,523837,21704.0,NaN,NaN,NaN,98806,1.0,0,1,10/18/2009,2009
1280458,670536,M,1632652,21101.0,NaN,NaN,NaN,97802,1.0,0,2,11/24/2008,2008

---

# Analysis 1: Building matrix relating *Crime type* and *Municipality*

In [9]:
dfx = df.copy()

## Defining relevant columns

In [6]:
rc = ["CrimeType1", "Municipality"]

## Cleaning original data

### Eliminating rows with null values

#### Reviewing number of nulls in relevant columns

In [10]:
dfx.loc[:, rc].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1280459 entries, 0 to 1280458
Data columns (total 2 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   CrimeType1    1279009 non-null  float64
 1   Municipality  1280459 non-null  int64
dtypes: float64(1), int64(1)
memory usage: 19.5 MB

#### Eliminating null rows

In [14]:
dfx = dfx.loc[dfx["CrimeType1"].notnull(), :]

###

---

---
---